* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.post-container {
  width: 300px;
  height: 550px;
  border: 1px solid black;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: white;
  color: black;
  margin: auto;
  margin-top: 20px;
}
.post-header {
  margin-top: 20px;
  margin-left: 8px;
  margin-right: 8px;
  display: flex;
  justify-content: space-between;
}

.post-header .left {
  display: flex;
  gap:10px;
  align-items: center;
}
.post-header .left>div {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  border-radius: 50%;
  overflow: hidden;
}

.post-header .left>div>img {
  width: 100%;
  height: 100%;
  object-fit:cover
}

.post-image img {
  width: 280px;
  height: 265px;
  padding: 5px;
  margin: auto;
  align-items: center;
  border: solid black;
}

.post-header .left {
  display: flex;
  gap: 10px;
  align-items: center;
}

.post-header .left>div {
  width: 40px;
  height: 40px;
  border: 1px solid white;
  border-radius: 50%;
}

.post-icons {
  font-size: 24px;
  margin-bottom: 15px;
  margin-left: 5px;
  
}

.post-likes{
  margin-top: 5px;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 5px;
}

.post-description{
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 20px;
  margin-left: 5px;
}

.left img{
  width: 35px;
  height: 35px;
}
.right{
  margin-right: 8px;
  border-radius: 4px;
}
.post-icons {
  font-size: 20px;
  display:flex;
  gap: 10px;
  cursor: pointer;
  
}
.btn {
  cursor: pointer;
}
.liked {
  color: red;
}